
*{
   box-sizing: border-box; 
   margin: 0;
   padding: 0;  
   /* overflow-x: hidden; */
}
    /* font noto serif  */
.noto-serif{
  font-family: "Noto Serif", serif;
  
}
    /* font inter  */
.inter{
  font-family: "Inter", sans-serif;
 
}
/* shared styles  */
/* container  */
.container{
    max-width: 1140px;
    margin: 0 auto;
} 
/* bg color  */
.bg-color{
    background-color: #F5F8FF;
}
/* heading text title  */
.heading-text-title{
    font-family:"Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}
/* heading color title  */
.heading-color{
    color: #e95a08;
}
    /* color dark 3  */
.dark-3{
    color: #00000080;
}
/* button style  */
.btn-primary{
    font-family: "Inter", sans-serif;
    background-color: #e95a08;
    color: white;
    display: block;
    width: 100%;
    font-weight: 600;
    padding: 25px 50px;
    border: none;
    margin-top: 26px;
    margin-bottom: 10px;
}


/* nav style start  */

.nav-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  
}
.nav-parent img{
    width: 100%;
}
.nav-items{
    display: flex;
      gap: 48px;
}
.nav-item{
    list-style: none;
    
}
.nav-link{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #8987A1;
}
 .nav-items .nav-item:nth-child(1) .nav-link{
    color: #252432;
    font-weight: 700;
}
.nav-items .nav-item:nth-child(4) .nav-link{
    color: #000000;
}
/* banner start  */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 50px 0;
}

.banner-title{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: 700;
    color: #000000;
    margin: 15px 0;
}

.banner-description{
     font-family: "Inter", sans-serif;
    font-size: 22px;
}

/* our flower styles  */
.our-section-parent{
    margin-bottom: 50px;
}
.our-flower-title-div{
    text-align: center;

}

.our-flower-description{
   font-family: "Inter", sans-serif;
    font-size: 22px;
    max-width: 880px;
    margin: 5px auto 30px auto; 

}

.our-flower-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}
.our-flower-image-div{
    max-width: 270px;
}
.our-flower-image-div img{
    width: 100%;
}
.image-text-parent{
    text-align: center;
    
}
.our-flower-name{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    margin-top: 16px;
    margin-bottom: 10px;
}
.our-flower-rate{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #111111;
}

/* our plants styles  */

.flower-plants-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin:150px auto 100px auto;
   
}
.flower-plants-image{
    max-width: 540px;
   
}
.flower-plants-image img{
    width: 100%;
    
}
.flower-plants-text-parent{
    max-width: 540px;
}
.flower-plants-text-parent ul{
    list-style-position: outside;
}
.flower-plants-text-parent li{
    font-family:  "Inter", sans-serif;
    font-size: 22px;
    margin: 20px 0;
}

.flower-badge{
     position: relative;
    width: 260px;
    height:auto;
      

}

.flower-badge img{
    width:100%;
    height: auto;
    position: absolute;
    left: 350px;
    top: -120px;
    object-fit: cover;
    z-index: 2;   
}
/* deals section styles  */
.deals-text-parent{
    text-align: center;
}
.deals-text-description{
    font-family:  "Inter", sans-serif;
    font-size: 22px;
    max-width: 880px;
    margin: 30px auto 100px auto;

}
.deals-image-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.deal-image-left{
    max-width: 367px;
    height: 422px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    
}

.deal-bloom-image{
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
    flex: 1;
    border-radius: 14px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.deal-ana-image{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
   flex: 1;
   border-radius: 14px;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deal-ana-image h4,
.deal-bloom-image h4{
    color: white;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    margin-bottom: 10px;
}
.deal-ana-image h5,
.deal-bloom-image h5{
    font-family:  "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid white;
    
}


.deal-image-right{
    max-width: 753px;
    height: 422px;
    flex: 1;
    
}
.deal-zabo-image{
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deal-zabo-image h3{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.deal-zabo-image h5{
     font-family:  "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid white;
}

@media screen and (max-width: 576px)

{
    .container{
        margin: 0 16px;
    }
    .nav-items .nav-item:nth-child(1) .nav-link,
    .nav-items .nav-item:nth-child(2) .nav-link,
    .nav-items .nav-item:nth-child(3) .nav-link{
    display: none;
}
.banner{
    flex-direction: column-reverse;
   
}
.banner-title,
.heading-text-title{
    font-size: 24px;
}
.banner-description,
.flower-plants-text-parent li,
.deals-text-description{
    font-size: 14px;
}


/* our flower style  */
.our-flower-description,
.our-flower-name,
.our-flower-rate{
    font-size: 16px;
}

.our-flower-parent{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
    
}
.our-flower-name{
    margin-bottom: 5px;
}
.btn-primary{
    width: 100%;   
}

/* flower plants styles  */
.flower-badge{
    display: none;
}
.flower-plants-parent{
    flex-direction: column;
    gap: 30px;
    margin: 40px 16px;
}
/* flower image style  */
.deals-text-description{
    margin: 20px auto 40px auto;
}
.deals-image-container{
    flex-direction: column;
    
}
.deal-image-left{
    max-width: 100%;
    min-height: 580px;
    flex: 1;
}

.deal-image-right{
   max-width: 100%;
   flex: 1;
}
.deal-zabo-image{
    padding: 110px 60px; 
} 
.deal-zabo-image h3{
    font-size: 20px;
    margin-bottom: 10px;
    

}
.deal-zabo-image h5{
    font-size: 16px;
}

}

